<a href="https://colab.research.google.com/github/matheustoneti/CropRecommendationPredict/blob/main/Agriculture_recommendation_with_Machine_Learning_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [ ]:
df = pd.read_csv('Crop_recommendation.csv')

In [ ]:
df.head(5)

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [ ]:
df.head(20)

     N   P   K  temperature   humidity        ph    rainfall label
0   90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1   85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2   60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3   74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4   78  42  42    20.130175  81.604873  7.628473  262.717340  rice
5   69  37  42    23.058049  83.370118  7.073454  251.055000  rice
6   69  55  38    22.708838  82.639414  5.700806  271.324860  rice
7   94  53  40    20.277744  82.894086  5.718627  241.974195  rice
8   89  54  38    24.515881  83.535216  6.685346  230.446236  rice
9   68  58  38    23.223974  83.033227  6.336254  221.209196  rice
10  91  53  40    26.527235  81.417538  5.386168  264.614870  rice
11  90  46  42    23.978982  81.450616  7.502834  250.083234  rice
12  78  58  44    26.800796  80.886848  5.108682  284.436457  rice
13  93  56  36    24.014976  82.056872  6.984354  185.277339  rice
14  94  50  37    25.665852  80.663850  6.948020  209.586971  rice
15  60  48  39    24.282094  80.300256  7.042299  231.086335  rice
16  85  38  41    21.587118  82.788371  6.249051  276.655246  rice
17  91  35  39    23.793920  80.418180  6.970860  206.261186  rice
18  77  38  36    21.865252  80.192301  5.953933  224.555017  rice
19  88  35  40    23.579436  83.587603  5.853932  291.298662  rice

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [ ]:
df.value_counts()

N    P    K    temperature  humidity   ph        rainfall    label
0    5    36   24.351938    90.886124  6.152907  105.529185  pomegranate    1
69   60   54   36.322681    93.061344  6.989927  141.173693  papaya         1
     37   42   23.058049    83.370118  7.073454  251.055000  rice           1
     46   41   23.641248    80.285979  5.012140  263.110330  rice           1
     47   40   25.371227    76.240367  6.130136  183.827079  jute           1
                                                                           ..
26   126  195  21.413638    92.991245  5.878569  118.397907  apple          1
     122  202  22.445170    94.737635  5.617227  107.184327  apple          1
     121  201  22.191094    90.025751  6.162034  112.312663  apple          1
     80   83   17.084985    16.145658  7.528600  71.310073   chickpea       1
140  45   15   25.530827    80.046628  5.801048  99.395572   cotton         1
Length: 2200, dtype: int64

In [ ]:
x = df.drop(['label'], axis=1)

In [ ]:
y = df['label']

In [ ]:
x.head(5)

    N   P   K  temperature   humidity        ph    rainfall
0  90  42  43    20.879744  82.002744  6.502985  202.935536
1  85  58  41    21.770462  80.319644  7.038096  226.655537
2  60  55  44    23.004459  82.320763  7.840207  263.964248
3  74  35  40    26.491096  80.158363  6.980401  242.864034
4  78  42  42    20.130175  81.604873  7.628473  262.717340

In [ ]:
y.head(5)

0    rice
1    rice
2    rice
3    rice
4    rice
Name: label, dtype: object

In [ ]:
le = preprocessing.LabelEncoder()
y = le.fit_transform(y)
y

array([20, 20, 20, ...,  5,  5,  5])

Dados processados. Início da análise preditiva

Dividindo os valores para treino e teste

In [ ]:
x_train, x_teste, y_train, y_teste = train_test_split(x,y, test_size = (0.3))

Criando o algoritmo e treinando o modelo preditivo

In [ ]:
predict = RandomForestClassifier()

In [ ]:
predict = predict.fit(x_train, y_train)

Avaliando a acurácia do modelo treinado

In [ ]:
accuracy = predict.score(x_teste, y_teste)
print('Accuracy: ' + str(accuracy))

Accuracy: 0.9924242424242424

## **Modelo com 99% de acurácia na previsão de recomendação de culturas agrícolas**

Confusion Matrix

In [ ]:
prediction = predict.predict(x_teste)
cm = confusion_matrix(prediction, y_teste)
cr = classification_report(prediction, y_teste)
print(cr)
print(cm)

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        26
           1       1.00      1.00      1.00        35
           2       0.97      1.00      0.98        31
           3       1.00      1.00      1.00        26
           4       1.00      1.00      1.00        30
           5       1.00      1.00      1.00        23
           6       1.00      1.00      1.00        37
           7       1.00      1.00      1.00        28
           8       1.00      0.91      0.95        33
           9       1.00      1.00      1.00        31
          10       1.00      0.96      0.98        27
          11       1.00      0.97      0.99        38
          12       1.00      1.00      1.00        34
          13       0.96      1.00      0.98        26
          14       1.00      1.00      1.00        26
          15       1.00      1.00      1.00        31
          16       1.00      1.00      1.00        29
          17       1.00      1.00      1.00        28
          18       1.00      1.00      1.00        27
          19       1.00      1.00      1.00        32
          20       0.91      1.00      0.95        31
          21       1.00      1.00      1.00        31

    accuracy                           0.99       660
   macro avg       0.99      0.99      0.99       660
weighted avg       0.99      0.99      0.99       660

[[26  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0 35  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0 31  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0 26  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0 30  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0 23  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0 37  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0 28  0  0  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0 30  0  0  0  0  0  0  0  0  0  0  0  3  0]
 [ 0  0  0  0  0  0  0  0  0 31  0  0  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0 26  0  0  1  0  0  0  0  0  0  0  0]
 [ 0  0  1  0  0  0  0  0  0  0  0 37  0  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0 34  0  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0 26  0  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0 26  0  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 31  0  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 29  0  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 28  0  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 27  0  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 32  0  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 31  0]
 [ 0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 31]]